<div class="header">
    {{#with header}}

    <div class="logo">{{brandName}}</div>
    <div class="user_online">Users online: {{userOnline}}</div>

    <div class="ad">
        <span class="span_ad">Ad</span>

        {{#with ad}}
        <p class="ad_text">{{text}}: </p>
        <a href="{{url}}" class="ad_url">{{url}}</a>
        {{/with}}

    </div>

    <nav class="header_links">
        {{#each links}}
        <a href="{{url}}" class="nav_links">{{text}}</a>
        {{/each}}
    </nav>

    {{/with}}
</div>